<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/antcorpinc/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="antcorpinc" />
            <add key="ClearTextPassword" value="aec54280951151e035ef4b18faf5da4efc014997" />
        </github>
    </packageSourceCredentials>
</configuration>