<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/antcorpinc/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="antcorpinc" />
            <add key="ClearTextPassword" value="547f16b9ef8c84b589ea62ef2680104f1c367b96" />
        </github>
    </packageSourceCredentials>
</configuration>