<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/antcorpinc/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="antcorpinc" />
            <add key="ClearTextPassword" value="dd9301d8d133e77e77109950b20689ec451c0b89" />
        </github>
    </packageSourceCredentials>
</configuration>